extends layout

block content
  a.btn.btn-outline-dark(href="/movies") Terug
  h1 #{moviesDetails.title}
  p #{moviesDetails.description}
  p Releasejaar: #{moviesDetails.release_year}
  p Lengte: #{moviesDetails.length} minuten
